


.auteur-biographie {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px; 
    justify-content: center;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
}


.auteur-image {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cercle-image {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    object-fit: cover;
    border: 3px solid #2d1f1f; 
}


.auteur-citation {
    font-style: italic;
    font-size: 18px;
    color: #555;
    text-align: center; 
}

.biographie-text {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin: 0;
    text-align: justify;
}


.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: 40px 0;
}


.image-item {
    flex: 1 1 30%; 
    max-width: 30%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
}


.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}


.image-item img:hover {
    transform: scale(1.1);
}


.galerie-category {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}


.first-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-image img {
    width: 90%;  /* Diminution de la taille */
    height: auto;  /* Maintien des proportions */
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.other-images {
    display: flex;
    gap: 10px;
    flex: 3;
    flex-wrap: wrap;
}


.galerie-category .image-item img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.galerie-category .image-item img:hover {
    transform: scale(1.1);
}

.galerie-category h3 {
    font-size: 24px;
    text-align: center;
    color: #2d1f1f;
    margin-bottom: 15px;
    width: 100%;
}

