
.container {
    display: flex;
    flex-wrap: wrap; 
    gap: 30px; 
    justify-content: flex-start; 
    margin-top: 60px; 
    padding: 5px;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
}


.section {
    background-color: #fff; 
    border: 2px solid #2d1f1f; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    width: 100%;
    max-width: 400px; 
    margin: 0 15px; 
    text-align: center;
    box-sizing: border-box; 
}

.image-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}

.image-container img {
    max-width: 80%; 
    height: auto;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Texte de chaque section */
.section p {
    font-size: 14px; 
    line-height: 1.5; 
    color: #333; 
    margin: 0; 
}

