section{
    margin-bottom: 50px;
}
.biography img{
    float: left;
    margin: 0 5%;
    margin-bottom: 2%;
    border: 4px solid black;
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.biography p{
    text-align: justify;
    padding: 0 10%;
}
img{
    max-width: 500px;
}
article{
    border: 4px solid black;
}
.boards h4{
    padding-left: 2%;
}
.board{
    width: 70%;
    margin: 2px 10%;
    padding: 5%;
}
.board img{
    object-fit: cover;
    width: 70%;
    height: auto;
    margin-left: 15%;
}
.gallery{
    column-count: 1;
    padding: 0 10%;
}
.gallery img{
    width: 100%;
}
.adaptations{
    padding: 0 10%;
    width: 80%;
}
.adaptation{
    padding: 0 5%;
}
video {
    max-width: 100%;
    height: auto;
}
@media screen and (min-width: 600px) {
    .gallery{
        column-count: 2;
    }
    .board{
        max-height: 700px;
    }
}
@media screen and (min-width: 900px) {
    .boards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .board img{
        float: left;
        height: 90%;
        width: 20%;
        padding: 2% 5%;
        margin-left: 0;
    }
    .gallery{
        column-count: 3;
    }  
}